@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Amigos del Curso con GitHub</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">Github e integracion continua</a>.</p>
</div>
